@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181c14;
  --bgSoft: #3c3d37;

  --text: #ecdfcc;
  --textSoft: #b6af9c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text);

  font-family: Arial, Helvetica, sans-serif;
}

td{
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
