@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181c14;
  --bgSoft: #3c3d37;

  --text: #ecdfcc;
  --textSoft: #b6af9c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text);

  font-family: Arial, Helvetica, sans-serif;
}

td {
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  color: #ecdfcc;
  position: relative;
  background: conic-gradient(from 134deg at top, currentColor 92deg, #0000 0)
      top,
    conic-gradient(from -46deg at bottom, currentColor 92deg, #0000 0) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  --g: currentColor 14.5px, #0000 0 calc(100% - 14.5px), currentColor 0;
  background: linear-gradient(45deg, var(--g)),
    linear-gradient(-45deg, var(--g));
  animation: l7 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l7 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }
  66% {
    inset: -10px;
    transform: rotate(90deg);
  }
  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3c3d37;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5c5e54;
}

.wave-container::before,
.wave-container::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: 0;
}

.wave-container::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(69, 105, 144, 0.15);
  animation: waves 6s infinite linear;
}

.wave-container::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(2, 128, 144, 0.2);
  animation: waves 7s infinite linear;
}

@keyframes waves {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
